#error-code {
  color: #7A0000;
  font-size: 4em;
  font-family: "Cabin Sketch", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0 0 0.6em;
}

#error-explain {
  text-align: center;
  font-size: 1.5em;
}
