html {
  background-color: #fff;
}

body {
  background: #fff;
  min-height: 600px;
}

.float-left {
  display: inline;
  float: left;
  margin: 0.3em 1em 0.3em 0;
}

.float-right {
  display: inline;
  float: right;
  margin: 0.3em 0 0.3em 1em;
}

.embed-wrapper {
  display: inline;
  float: left;
  margin: 0 1.8em 1em 0;
  position: relative;
  top: 0.3em;
}
