@import "reset";
@import "typography";
@import "layout";

//
// Header
//

header {
  margin: 0 0 3em;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

header h1#logo {
  text-align: center;
  letter-spacing: -0.07em;
  margin: 0em auto;
  width: 710px;
  padding: 0em;
  font-size: 3.4231em;
}

header h1#logo a {
  text-align: center;
  background: url(../images/logo.jpg) no-repeat;
  font-weight: bold;
  width: 710px;
  height: 217px;
  display: block;
  text-indent: -9999em;
  margin: 0 auto;
  color: #444;
  text-decoration: none;
  text-shadow: 5px 5px 0px #fff;
}

header h1#logo a:hover {
  color: #1a1a1a;
}

header nav {
  text-align: center;
  margin: 0.4em auto 1em;
  font-size: 1.4em;
  height: 42px;
  line-height: 42px;
}

header nav a, header nav a:active, header nav a:link, header nav a:visited {
  font-family: "Crimson Text", georgia, times, serif;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
  top: -10px;
  color: #333;
  text-decoration: none;
  display: inline-block;
  padding: .2em .3em;
  margin: 0 0.2em;
  text-shadow: 2px 2px 0px #fff;
  font-weight: normal;
     -moz-transition: color 0.5s ease-out;  
       -o-transition: color 0.5s ease-out;  
  -webkit-transition: color 0.5s ease-out;  
          transition: color 0.5s ease-out;
}

header nav a:hover, body#about header nav a#about-nav, body#photos header nav a#photos-nav, body#web header nav a#web-nav, body#contact header nav a#contact-nav, body#archive header nav a#archive-nav {
  text-decoration: none;
  color: #C03234;
  
}



//
// Main Content
//

#main {
  font-family: "Crimson Text", georgia, times, serif;
  font-weight: normal;
  font-size: 1.1em;
}

#main h1, #main h2 {
  font-family: "Crimson Text", georgia, times, serif;
  font-weight: bold;
  text-align: center;
}

#main h2.post-title {
  padding-top: 0.5em;
}

#main p {
  margin: 0 0 1em;
}

#main ul, #main ol {
  list-style-position: outside;
  margin: 0 0 1.5em 2em;
}

#main li {
  margin: 0 0 0.5em;
}

.go-to-archive {
  text-align: center;
}

#main blockquote {
  margin: 1em 0em 0.5em;
  padding: 1em;
  background-color: #d4d4d4;
  border: 1px solid #aaa;
  -webkit-box-shadow:  0px 0px 5px #aaa;
  -moz-box-shadow:  0px 0px 5px #aaa;
  box-shadow:  0px 0px 5px #aaa;
}

#main cite {
  margin: 0 0 1em;
  text-align: right;
  display: block;
}

#main .footnotes {
  color: #666;
  line-height: 1.2em;
  margin: 0 auto 2em;
  width: 70%;
  font-size: 0.9em;
}

#main a.back-to-reading {
  font-weight: bold;
}

#main a.back-to-reading:hover {
  text-decoration: none;
}

iframe, object {
  width: 100%;
}

#main .post-content img, #main #post img {
  border: 7px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow:  0px 0px 5px #555;
  -moz-box-shadow:  0px 0px 5px #555;
  box-shadow:  0px 0px 5px #555;
  max-width: 100%;
}


//
// Posts
//

.post {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;
  margin: 0 0 2em 0;
}
.post-title a {
  text-decoration: none;
}

#main p.post-title {
  margin: 0;
}

#main p.post-date {
  color: #777;
  font-size: 0.9em;
  margin: 0;
  text-align: center;
}

#main h2 {
  text-shadow: 1px 1px 0px #fff;
}

#main h3 {
  color: #444;
  text-align: center;
  text-shadow: 1px 1px 0px #fff;
}

#main h4 {
  margin: 2em 0 0 0;
  color: #666;
  text-align: center;
}

#main .post-content p, #main #post p {
  text-align: justify;
}

.youtube-player, .vimeo-player {
  max-width: 100%;
}

.tags {
  color: #999;
  font-style: italic;
  display: inline;
  float: left;
  width: 70%;
}

.date {
  color: #999;
  font-style: italic;
  display: inline;
  float: right;
  width: 30%;
  text-align: right;
}


//
// Footer
//

footer {
  text-align: center;
  font-family: "Crimson Text", georgia, times, serif;
  font-weight: normal;
  font-size: 1em;
  color: #888;
  margin: 6em 0 2em;
}

footer #footer-img {
  background: url('../images/footer.jpg') no-repeat;
  width: 824px;
  height: 85px;
  display: block;
  margin: 1em auto;
  text-align: center;
  position: relative;
}

footer #footer-img a {
  width: 300px;
  height: 40px;
  position: absolute;
  right: 25px;
  top: 20px;
  display: block;
}


@import "errors";
/*@import "responsiveness";*/
@import "fancybox";