<!doctype html>  

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <title>{{ page.title }} :: Tudor Stuart Ireland</title>
    <meta name="description" content="">
    <meta name="author" content="Jeff Gardner">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ site.base_url }}/favicon.ico">
    <link rel="apple-touch-icon" href="{{ site.base_url }}/apple-touch-icon.png">

    <link rel="stylesheet" href="{{ site.base_url }}/css/style.css?v=2">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cabin+Sketch:bold">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Crimson+Text:regular,regularitalic,bold,bolditalic">
    
        
    <script src="{{ site.base_url }}/js/libs/modernizr-1.6.min.js"></script>    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.js"></script>
    <script src="{{ site.base_url }}/js/plugins.js"></script>
    <script src="{{ site.base_url }}/js/script.js"></script>
    <script src="http://scripts.embed.ly/jquery.embedly.min.js"></script>

  </head>

  <body id="{{ page.bodyId }}">

    <div id="container">
      <header>
        <h1 id="logo"><a href="{{ site.base_url }}">Tudor <span class="amp">&amp;</span> Stuart<span class="half-size block">Ireland Conference</span></a></h1>
        <nav>
          <a href="{{ site.base_url }}/about" id="about-nav">about.</a>
          <a href="{{ site.base_url }}/archive" id="archive-nav">archive.</a>
          <a href="{{ site.base_url }}/photos" id="photos-nav">photos.</a>
        </nav>

      </header>
      <div id="main" class="hyphenate">
        {{ content }}
      </div>
      <div class="clearfix"></div>
      <footer>
        <div id="socials">

        </div>
        <div class="clearfix"></div>
        &copy; 2011 Tudor Stuart Ireland Conference<br />
        Please don&rsquo;t steal, just ask nicely.<br />
        <a href="javascript:void(0);" id="caveat-lector" title="Caveats">Caveat lector</a>
        
        <div id="caveats" style="display: none;">
          <p>This site was developed with HTML5 and CSS3 and utilizes the latest responsive web design principles (Go ahead, resize your browser window, I dare you.). if you&rsquo;re not using one of the latest browsers (<a href="http://apple.com/safari" title="Safari">Safari</a>, <a href="http://google.com/chrome" title="Google Chrome">Chrome</a>, or <a href="http://getfirefox.com" title="Firefox">Firefox</a>) this site will probably look completely battered. Please support web standards.</p>
        </div>
      </footer>
    </div> <!-- end of #container -->
  
  
    <!--[if lt IE 7 ]>
      <script src="js/libs/dd_belatedpng.js"></script>
      <script> DD_belatedPNG.fix('img, .png_bg'); </script>
    <![endif]-->

  </body>
</html>